
body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color: white;
	color: black;	
}
.content {
	height: auto;
	width: 375px;
	padding: 10px 40px 0px 40px;
}

.content1 {
	background: #000000;
	border-width: 0px;
	color: white;
	height: 50px;
	padding: 10px 0px 10px 0px;
}

span.where {
	font-size: 13px;
	font-weight: bold;

}
span.under-where {
	font-size: 13px;	
} 

img.mag {
	float: left;
	width: 40px;
	
}

img.filter {
	float: right;
	width: 60px;
	padding: 0px 4px 0px 0px;
}

